body {
  padding: 40px;
}

div {
  width: fit-content;
}

#step1--div {
  height: 100px;
  width: 100px;
  border: 30px solid #999;
}

#step2--div {
  height: 100px;
  width: 100px;
  border-top: 30px solid #c66;
  border-bottom: 30px solid #6c6;
  border-left: 30px solid #66c;
  border-right: 30px solid #cc6;
}

#step3--div {
  width: 0;
  border-top: 30px solid #c66;
  border-bottom: 30px solid #6c6;
  border-left: 30px solid #66c;
  border-right: 30px solid #cc6;
}

#step4--div {
  width: 0;
  border-bottom: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

#step5--div {
  width: 0;
  border-top: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.top {
  width: 0;
  border-bottom: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.middle {
  width: 104px;
  height: 60px;
  background-color: #6c6;
}

.bottom {
  width: 0;
  border-top: 30px solid #6c6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
